
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
    background-color: aquamarine;
  }
  
  main {
    display:block;
    height:175px;
  }
  
  header {
    border-bottom: 1px solid black;
  }
  
  h1 {
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 48px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    padding-top: 25px;
    border-top: 1px solid black;
  }
  
  footer a {
    float:left;
    margin:5px;
  }
  
  .pet-image {
    height:300px;
    width: auto;  
  }
  
  .dashboard div {
    display:block;
  }
  
  .pet-image-container {
    float:left;
    padding:10px;
  }

  .name-input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .punching-bag {
    float:right;
    padding:10px;
  }

  .punching-bag-image {
    width: 350px;
    height: 350px;
  }
  
  .dashboard {
    float:left;
    padding:20px;
    background-color: #f0f0f0;
    border-color: #d0d0d0;
    border-width: 1px;
    border-style: solid;
    display: inline;
    width: auto;
    height: auto;
    position: center;
  }

  .attack-button {
    background-color: #1e2835;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
    color: #fafafa;
    position: relative;
    width: 97%;
      margin-right: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      display: inline-block;
    font-size:15px;

  }
  
  .button-container {
    margin-top:20px;
  }
  
  .button-container button {
    width: 100px;
      margin-right: 10px;
      text-align: center;
      display: inline-block;
      float: left;
    font-size:15px;
    background-color: #1e2835;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
    color: #fafafa;
  }
  #pet-comment {
    width: 320px;
    height: 100px;
    align-self: start;
    margin-top:10px;
    background-color: aliceblue;
    border-color: aqua;
    border-width: 10px;
    border-style: solid;
    float: left;

  }